<form action='/register' method='POST'>
	<!-- Campo NOMBRE -->

	<div class='form-group'>
		<label for='nombre'> Nombre</label>
		<input type='text' name='user' id='nombre' required />

	</div>
	<!-- Campo Apellido -->
	<div class='form-group'>
		<label for='mail'>Mail</label>
		<input type='text' name='user' id='mail' class='form-control' required />
	</div>

	<!-- Campo Dni -->

	<div class='form-group'>
		<label for='password'>Contraseña</label>
		<input
			type='text'
			name='user'
			id='password'
			class='form-control'
			required
		/>

	</div>

	<button class='btn btn-succes mt-3'>Enviar</button>

</form>