<div class='container text-center my-3'>
	<div
		class='jumbotron'
		style='background-color: rgb(14, 126, 187);color: white;'
	>
		<h1>USER ERROR SIGNUP</h1>

		<button
			class='btn btn-warning my-5'
			onclick="location.href='/'"
		>VOLVER</button>
	</div>
</div>